<h2 id="title">Welcome to Ember</h2>

<div>
    e-button - block form

    {{#e-button tagName="span"}}
      Button
    {{/e-button}}

</div>

<div>
    e-button - inline form
    {{e-button text='Button'}}
</div>

{{outlet}}
